body {
  background: lightgrey
}

.circle {
  font-size: 0.8rem;
  margin: 1rem;
  margin-top: 1.5rem;
  border-radius: 100%;
  cursor: pointer;
}

@media (min-width: 300px) {
  .img {
    max-width: 250px;
    max-height: 175px;
  }
}

@media (min-width: 550px) {
  .img {
    max-width: 400px;
    max-height: 200px;
  }
}

@media (min-width: 768px) {
  .img {
    max-width: 500px;
    max-height: 300px
  }
}

@media (min-width: 992px) {
  .img {
    max-width: 800px;
    max-height: 350px
  }
}
